version: '3.8'

services:
  db:
    image: postgres:17.2
    container_name: postgres-db
    environment:
      POSTGRES_DB: socialnetwork
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
    networks:
      - backend 
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  memcached:
    image: memcached:1.6.19-alpine3.17
    ports:
      - "11211:11211"
    # healthcheck:
    #   test: ["CMD-SHELL", "nc -z localhost 11211 || exit 1"]
    #   interval: 20s
    #   timeout: 1s
    #   retries: 5
  redis:
    image: redis:7.0.9-alpine3.17
    ports:
      - "6379:6379"
    # healthcheck:
    #   test: ["CMD-SHELL", "redis-cli ping || exit 1"]
    #   interval: 20s
    #   timeout: 1s
    #   retries: 5
  
volumes:
  db-data:

networks:
  backend:
    driver: bridge